<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="faq_listing_data_source" xsi:type="string">
                    Lopatin\Faq\Model\ResourceModel\Faq\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Lopatin\Faq\Model\ResourceModel\Faq\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">lopatin_faq_post</argument>
            <argument name="resourceModel" xsi:type="string">Lopatin\Faq\Model\ResourceModel\Faq</argument>
        </arguments>
    </virtualType>
</config>
